<ion-view title="{{ match.name }}">
  <ion-nav-buttons side="left">
    
  </ion-nav-buttons>
  <div class="bar bar-subheader bar-dark" ng-if="match.isFinished">  
    <h2 class="title" ng-if="!match.isLive && !loading">played <span am-time-ago="match.dateTime"></span></h2>    
    <h2 class="title" ng-if="match.isLive">LIVE</h2>
  </div>    
  <ion-content class="has-header match-details" ng-class="{ 'has-subheader': match.isFinished }">
    <progress-bar ng-hide="!loading"></progress-bar>

    <div class="unfinished" ng-if="!match.isFinished" ng-hide="loading">
      This game will begin <span am-time-ago="match.dateTime"></span>.
    </div>
    
    
    <div class="list team" ng-repeat="team in match.teams" ng-if="match.isFinished">
      <div class="team-details row row-center">
        <div class="col col-50">
        <div class="gradient-box">
          <img src="http://na.lolesports.com{{ team.logoURL }}" class="team-logo">
        </div>
        </div>
        
        <div class="col team-info">
          <div class="team-title">{{ team.name }}</div>
          <div class="team-score">{{ team.wins }}W - {{ team.losses }}L</div>
        </div>
      </div>
      
      <div class="item row row-header">
        <div class="col">Player</div>
        <div class="col col-20">KDA</div>
        <div class="col">Items</div>
        <div class="col col-15">CS</div>
      </div>
      <div class="item row row-center" ng-repeat="player in team.players">
        <div class="col player-name">{{ player.name }}</div>
        <div class="col col-20">{{ player.kills }}/{{ player.deaths }}/{{ player.assists }}</div>
        <div class="col">
          <div class="game-item" ng-repeat="item in player.items">
            <div class="game-item-image" 
              style="background: url('http://ddragon.leagueoflegends.com/cdn/4.11.3/img/sprite/{{ item.image }}') -{{ item.x }}px -{{ item.y }}px 
              no-repeat;">
            </div>
          </div>
        </div>
        <div class="col col-15">
          {{ player.minions }}
        </div>
      </div>
    </div>
    
    

    
  </ion-content>
</ion-view>