<ion-view title="Schedule" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="changeRegion()">{{ currentRegion }}</button>
  </ion-nav-buttons>
  <div class="bar bar-subheader bar-dark">
    <button 
      ng-disabled="currentWeek === 1"
      class="button button-icon icon icon ion-ios7-arrow-back"
      ui-sref="app.schedule({ week: currentWeek - 1 })">
    </button>    
    <h2 class="title">Week {{ currentWeek }}</h2>
    <button 
      ng-disabled="currentWeek === 11"
      class="button button-icon icon icon ion-ios7-arrow-forward"
      ui-sref="app.schedule({ week: currentWeek + 1 })">
    </button>      
  </div>  
  <ion-content class="has-header has-subheader schedule">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="refresh()">
    </ion-refresher>  
    <progress-bar ng-hide="matches.length > 0"></progress-bar>
    <ion-list ng-hide="matches.length === 0">
      <ion-item ng-repeat="match in matches" 
        ng-class="{ 'match': match.type !== 'day', 'day': match.type === 'day', 'today': match.today}"
        ng-click="goToMatch(match)">
        <ng-switch on="match.type">
          <div ng-switch-when="day">
            {{ match.today ? 'Today' : (match.dateTime | date:'EEEE, MMMM d') }}
          </div>
          <div ng-switch-default class="row row-center">
            <div class="col blue">
              <img src="http://na.lolesports.com{{ match.contestants.blue.logoURL }}" class="team-logo">
              <div class="team-info">
                <div class="team-title" ng-class="{ win: match.gamesInfo.game0.winnerId === match.contestants.blue.id }">{{ match.contestants.blue.acronym }}</div>
                <div class="team-score">{{ match.contestants.blue.wins }}W - {{ match.contestants.blue.losses }}L</div>
              </div>
            </div>
            
            <div class="col col-10 versus">
              vs
            </div>
            
            <div class="col red">
              <img src="http://na.lolesports.com{{ match.contestants.red.logoURL }}" class="team-logo">
              <div class="team-info">
                <div class="team-title" ng-class="{ win: match.gamesInfo.game0.winnerId === match.contestants.red.id }">{{ match.contestants.red.acronym }}</div>
                <div class="team-score">{{ match.contestants.red.wins }}W - {{ match.contestants.red.losses }}L</div>
              </div>
            </div>
          </div>
        </ng-switch>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>