<ion-content class="setup" hide-back-button="true">
  <img src="img/logo.png">

  <progress-bar ng-hide="!loading"></progress-bar>
  <div class="list list-inset select-region" ng-if="showRegions" ng-hide="loading">
    <a class="item item-icon-right" ng-click="selectRegion('eu')">
      Europe 
      <i class="icon ion-chevron-right icon-accessory"></i>
    </a>
    
    <a class="item item-icon-right" ng-click="selectRegion('na')">
      North America 
      <i class="icon ion-chevron-right icon-accessory"></i>
    </a>
  </div>
</ion-content>