<ion-view title="Team Standings" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="changeRegion()">{{ currentRegion }}</button>
  </ion-nav-buttons>  
  <ion-content class="has-header standings">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="refresh()"> 
    </ion-refresher>
    <progress-bar ng-hide="teams.length > 0"></progress-bar>
    <div class="list standings" ng-hide="teams.length === 0">
      <div class="item row row-head">
        <div class="col col-10">#</div>
        <div class="col">Team</div>
        <div class="col col-15">W</div>
        <div class="col col-10">L</div>
      </div>    
      <div class="item row" ng-repeat="team in teams">
        <div class="col col-10">{{ team.rank }}</div>
        <div class="col">{{ team.name }}</div>
        <div class="col col-15">{{ team.wins }}</div>
        <div class="col col-10">{{ team.losses }}</div>
      </div>
    </div>
  </ion-content>
</ion-view>