body, html, .scroll-content {
  background-color: #444;
}

.bar-dark {
  background-color: #1f1f1f !important;
}

.bar-subheader.bar-dark {
  background-color: #333 !important;
  border-color: #444;
  border: 0;
  background-image: none;
}

.setup.scroll-content {
  background-color: #2A2C31;
}

.day {
  background-color: rgb(19, 118, 164) !important;
  border-color: rgb(19, 118, 164) !important;
  color: #fff;
  text-align: center;
}

.match {
  padding: 5px;
  background-color: #444444 !important;
  border-color: rgb(37, 36, 36) !important;
}

.match .col {
  padding: 5px 0;
}

.match .blue {
  text-align: left;
}

.match .blue .team-info {
  float: left;
}

.match .blue .team-logo {
  float: left;
}

.match .red {
  text-align: right;
}

.match .red .team-logo {
  float: right;
}

.match .red .team-info {
  float: right;
}

.match .team-logo {
  width: 50px;
}

.match .blue, .match .red {
  width: 50%;
}

.match .team-info {
  margin-top: 5%;
  color: #fff;
}

.match .blue .team-info {
  margin-left: 10px;
}

.match .red .team-info {
  margin-right: 10px;
}

.match .team-info .team-score {
  font-size: 80%;
  color: rgb(153, 153, 153);
  font-weight: bold;
}

.match .win {
  background: url('../img/head-to-head-icons.png') no-repeat;
  background-position: 0 -580px;
  padding-left: 18px;
}

.match .versus {
  color: #999; 
  font-size: 105%;
  text-align: center;
}

.setup {
  text-align: center;
  padding-top: 25%;
}

.setup .select-region {
  margin-left: 10%;
  margin-right: 10%;
}

.setup .select-region .item {
  text-align: left;
  color: #fff;
  background-color: #383838;
  border-color: #444444;
  border-radius: 0;
}

.sidemenu a {
  background-color: #444444 !important;
  color: #fff;
  border-color: #555;
}


.menu a.activated {
  border-color: #555;
}

.bar.bar-positive {
  border-color: #145fd7;
  background-color: rgb(19, 118, 164);
  background-image: linear-gradient(0deg, rgb(19, 118, 164), rgb(19, 118, 164) 50%, transparent 50%);
  color: #fff;
}

.col-15 {
-webkit-box-flex: 0;
-webkit-flex: 0 0 15%;
-moz-box-flex: 0;
-moz-flex: 0 0 15%;
-ms-flex: 0 0 15%;
flex: 0 0 15%;
max-width: 15%;
}

.standings .item {
  padding: 10px;
  background-color: #444444 !important;
  border-color: rgb(37, 36, 36) !important;
  color: #fff;
}

.standings .row-head.item {
  background-color: rgb(19, 118, 164) !important;
  border-color: rgb(19, 118, 164) !important;
  font-weight: bold;
}

.progress-bar-animated {
  width: 200px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.ball {
  width: 90px;
  height: 10px;
  margin: 10px auto;
  border-radius: 50px; }

.ball:nth-child(1) {
  background: #FF407F;
  -webkit-animation: right 1s infinite ease-in-out;
  -moz-animation: right 1s infinite ease-in-out;
  animation: right 1s infinite ease-in-out; }

.ball:nth-child(2) {
  background: #FF8638;
  -webkit-animation: left 1.1s infinite ease-in-out;
  -moz-animation: left 1.1s infinite ease-in-out;
  animation: left 1.1s infinite ease-in-out; }

.ball:nth-child(3) {
  background: #FBB227;
  -webkit-animation: right 1.05s infinite ease-in-out;
  -moz-animation: right 1.05s infinite ease-in-out;
  animation: right 1.05s infinite ease-in-out; }

.ball:nth-child(4) {
  background: #77B03F;
  -webkit-animation: left 1.15s infinite ease-in-out;
  -moz-animation: left 1.15s infinite ease-in-out;
  animation: left 1.15s infinite ease-in-out; }

.ball:nth-child(5) {
  background: #006CD5;
  -webkit-animation: right 1.1s infinite ease-in-out;
  -moz-animation: right 1.1s infinite ease-in-out;
  animation: right 1.1s infinite ease-in-out; }

.ball:nth-child(6) {
  background: #598B75;
  -webkit-animation: left 1.05s infinite ease-in-out;
  -moz-animation: left 1.05s infinite ease-in-out;
  animation: left 1.05s infinite ease-in-out; }

.ball:nth-child(7) {
  background: #9C999B;
  -webkit-animation: right 1s infinite ease-in-out;
  -moz-animation: right 1s infinite ease-in-out;
  animation: right 1s infinite ease-in-out; }

@-webkit-keyframes right {
  0% {
    -webkit-transform: translate(-15px); }

  50% {
    -webkit-transform: translate(15px); }

  100% {
    -webkit-transform: translate(-15px); } }
@-webkit-keyframes left {
  0% {
    -webkit-transform: translate(15px); }

  50% {
    -webkit-transform: translate(-15px); }

  100% {
    -webkit-transform: translate(15px); } }
@-moz-keyframes right {
  0% {
    -moz-transform: translate(-15px); }

  50% {
    -moz-transform: translate(15px); }

  100% {
    -moz-transform: translate(-15px); } }
@-moz-keyframes left {
  0% {
    -moz-transform: translate(15px); }

  50% {
    -moz-transform: translate(-15px); }

  100% {
    -moz-transform: translate(15px); } }
@keyframes right {
  0% {
    transform: translate(-15px); }

  50% {
    transform: translate(15px); }

  100% {
    transform: translate(-15px); } }
@keyframes left {
  0% {
    transform: translate(15px); }

  50% {
    transform: translate(-15px); }

  100% {
    transform: translate(15px); } }
    
.progress-bar-animated {
  margin-top: 180px;
}

.schedule .progress-bar-animated  {
  margin-top: 150px;
}

.game-item {
  float: left; 
  width: 24px; 
  height: 24px;
}

.game-item .game-item-image {
  width:48px; 
  height: 48px;  
  -webkit-transform-origin: 0 0; 
  -webkit-transform: scale(0.5);
}

.team .item {
  padding: 5px;
  background-color: #444444 !important;
  border-color: rgb(37, 36, 36) !important;
  color: #fff;
}

.team .row-header {
  background-color: rgb(19, 118, 164) !important;
  border-color: rgb(19, 118, 164) !important;
  color: #fff;
}

.player-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100px;
  display: block;
  overflow: hidden
}

.team-details {
  margin-bottom: 10px;
}

.team-details .team-logo {
  width: 100px;
}

.team-details .team-info {
  color: #fff;
  padding-left: 15px;
}

.team-details .team-info .team-title {
  font-size: 40px;
}

.team-details .team-info .team-score {
  margin-top: 20px;
  font-size: 20px;
}

.gradient-box {
  padding: 23px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #2d2d2d;
  -webkit-box-shadow: 0 3px 4px rgba(0,0,0,0.15),inset 0 1px 0 rgba(255,255,255,0.1);
  -moz-box-shadow: 0 3px 4px rgba(0,0,0,0.15),inset 0 1px 0 rgba(255,255,255,0.1);
  box-shadow: 0 3px 4px rgba(0,0,0,0.15),inset 0 1px 0 rgba(255,255,255,0.1);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0,0,0,0.2)), color-stop(100%, rgba(255,255,255,0.2)));
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.2) 0%,rgba(255,255,255,0.2) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.2) 0%,rgba(255,255,255,0.2) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.2) 0%,rgba(255,255,255,0.2) 100%);
  background-image: linear-gradient(bottom, rgba(0,0,0,0.2) 0%,rgba(255,255,255,0.2) 100%);
  width: 150px;
}

.unfinished {
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}