.bar-dark {
  background-color: rgb(39, 39, 39) !important;
}

.scroll-content {
  background-color: #444;
}

.setup.scroll-content {
  background-color: #2A2C31;
}

.day {
  background-color: rgb(19, 118, 164) !important;
  border-color: rgb(19, 118, 164) !important;
  color: #fff;
  text-align: center;
}

.match {
  padding: 5px;
  background-color: #444444 !important;
  border-color: rgb(37, 36, 36) !important;
}

.match .col {
  padding: 5px 0;
}

.match .blue {
  text-align: left;
}

.match .blue .team-info {
  float: left;
}

.match .blue .team-logo {
  float: left;
}

.match .red {
  text-align: right;
}

.match .red .team-logo {
  float: right;
}

.match .red .team-info {
  float: right;
}

.match .team-logo {
  width: 50px;
}

.match .blue, .match .red {
  width: 50%;
}

.match .team-info {
  margin-top: 5%;
  color: #fff;
}

.match .blue .team-info {
  margin-left: 10px;
}

.match .red .team-info {
  margin-right: 10px;
}

.match .team-info .team-score {
  font-size: 80%;
  color: rgb(153, 153, 153);
  font-weight: bold;
}

.match .win {
  background: url('../img/head-to-head-icons.png') no-repeat;
  background-position: 0 -580px;
  padding-left: 18px;
}

.match .versus {
  color: #999; 
  font-size: 105%;
  text-align: center;
}

.setup {
  text-align: center;
  padding-top: 25%;
}

.setup .select-region {
  margin-left: 10%;
  margin-right: 10%;
}

.setup .select-region .item {
  text-align: left;
  color: #fff;
  background-color: #383838;
  border-color: #444444;
  border-radius: 0;
}

.sidemenu ion-item {
  background-color: #444444 !important;
  color: #fff;
  border-color: #555;
}


.menu ion-item.activated {
  border-color: #555;
}

.bar.bar-positive {
  border-color: #145fd7;
  background-color: rgb(19, 118, 164);
  background-image: linear-gradient(0deg, rgb(19, 118, 164), rgb(19, 118, 164) 50%, transparent 50%);
  color: #fff;
}

.progress-bar {
  font-size: 36px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 36px;
  width: 36px;
  z-index: 3;
  color: #fff;
}